<% content_for :title, "editing user" %>

<div class="edit-user">
    <%= render 'form' %>
</div>

<div class="page-navigation">
    <%= link_to 'Back', user_tasks_path(:user_id => @current_user.id, :category => "all"), :class => "modify"  %>
</div>


