<div class="sign-up-box">
  
    <h2>Sign Up</h2>

    <%= render 'form' %>
</div>

<div class="inspired">
    <h2>Inspired by</h2>

    <div>The following sources were used in the creation of this site.</div>

    <ul>
        <li><a href="http://www.lifehacker.com.au/2014/02/employ-the-rule-of-3-for-daily-weekly-and-annual-productivity/" target="_blank">Employ the rule of 3 for daily weekly and annual productivity</a></li>
        <li><a href="http://blog.belimitless.co/post/73416815446/the-rule-of-3" target="_blank">The rule of 3</a></li>
        <li><a href="http://zenhabits.net/ztd-habit-3-plan/" target="_blank">ZTD: habit 3 plan</a></li>
    </ul>
</div>


