<div>
  <strong>Name:</strong>
  <%= @user.name %>
</div>

<div>
  <strong>Email:</strong>
  <%= @user.email %>
</div>

<%= link_to 'Edit', edit_user_path(@current_user) %> |
<%= link_to 'Back', user_tasks_path(@current_user) %>
