<div class="task_block">
    <ul>
        <li>Name - <%= @user.name %></li>
        <li>Email - <%= @user.email %></li>
    </ul>    
</div>



<%= link_to 'Edit', edit_user_path(@current_user), :class => "modify" %> : :
<%= link_to 'Back', user_tasks_path(@current_user), :class => "modify" %>
