<h1 id="logo">THREEthrees</h1>

<h2><%= yield(:title) %></h2>

<% if logged_in? %>
    <h2>Welcome, <%= @current_user.name %></h2>
    <p><%= link_to 'logout', session_path, :method => :delete %></p>
<% end %>

<p><%= notice %></p>
