<% content_for :title, "References" %>

<div>The following sources were used in the creation of this site.</div>

<ul>
    <li><a href="http://www.lifehacker.com.au/2014/02/employ-the-rule-of-3-for-daily-weekly-and-annual-productivity/" target="_blank">lifehacker</a></li>
    <li><a href="http://blog.belimitless.co/post/73416815446/the-rule-of-3" target="_blank">be limitless</a></li>
    <li><a href="http://zenhabits.net/ztd-habit-3-plan/" target="_blank">zen habits</a></li>
</ul>
