/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    font-family: Helvetica;
    font-weight: 100;
    font-size: 20px;
    line-height: 1.1;

}

html {
}

ul {
    margin: 0;
    padding: 5px;
}

li {
    list-style-type: none;
    padding: 3px 0; 
    text-align: center;
}

/* BEGIN HEADER */

h1 {
    font-family: 'Fenix', serif;
    font-size: 60px;
    margin: 5px;
    float: left;
    line-height: 60px;
}

h2 {
    font-family: 'Fenix', serif;
    font-size: 40px;
    display: inline-block;
    margin: 5px;
}

div h2 {
    display: inline-block;
    float: left;
}

.head {
    margin: 10px 0 0 0;
    min-height: 110px;
    text-align: center;
    width: 600px;
    float: right;
    ul {
        min-height: 30px;
        li {
            display: inline-block;
            padding: 10px;
            float: right;
        }
    }
    a {
       padding: 0;
    }
}

.notice, .alert {
    padding: 10px 10px 0 0;
    height: 10px;
    float: right;
}
.notice {
    color: #27B148;
}

.alert {
    color: #F02323;
}

/* END HEADER */

/* START FOOTER */

.foot ul li {
    display: inline-block;
    padding: 10px;
}

.foot ul {
    min-height: 30px;
}

.foot {
    display: inline-block;
    width: 600px;
    text-align: center;
    float: right;
}

/* END FOOTER */

.container {
    margin: 0 auto;
    width: 790px;
}

/* START MENU */

.menu {
    display: inline-block;
    float: left;
    width: 180px;
    margin: 124px 10px 0 0;
    position: fixed;
    li {
        text-align: right;
        padding: 5px 0; 
    }
}

/* END MENU */

.content {
    display: inline-block;
    float: right;
    width: 600px;
    min-height: 200px;
    padding: 10px;
    border-bottom: #A0A0A0 solid 1px;
    border-top: #A0A0A0 solid 1px;
}

/* START BUTTON */

.btn
{
    display: block;
    margin: 20px 0 0 0;
    background-color: #F8F8F8;
    border: none;
    border-bottom: #A0A0A0 solid 1px;
}

.btn:hover
{
    border-bottom: #27B148 solid 1px;    
}

/* END BUTTON */

/* START SELECT */

/*.select
{
    -webkit-appearance: scrollbarbutton-down;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 4px;
    display: block;
    margin: 5px 0 5px 0;
    background-color: #F8F8F8;
    border: none;
    border-bottom: #A0A0A0 solid 1px;

}*/

select
{
    -webkit-appearance: scrollbarbutton-down;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 4px;
    display: block;
    margin: 5px 0 5px 0;
    background-color: #F8F8F8;
    border: none;
    border-bottom: #A0A0A0 solid 1px;
}

select:hover
{
    border-bottom: #83B600 solid 1px;    
}

select:active
{
    background-color: #C5E26D;
    border-bottom: #83B600 solid 1px; 
}

/* END SELECT */

.add_new_task {
    padding: 0 0 10px 0;
}

.task_block {
    background-color: #F8F8F8;
    margin: 0 0 1px 0;
}

.task_block li {
    text-align: left;
}

.notes_block {
    background-color: #ECECEC;
    margin: 0 0 1px 0;
}

.notes_block li {
    text-align: left;
}

.notes_header {
    padding: 10px 0 10px 0;
    border-bottom: #ECECEC solid 1px;
}

a {
    text-decoration:  none;
    color: black;
    padding: 0 3px 0 3px;
}

a:hover {
    border-bottom: #8AD5F0 solid 1px;
}

a:active {
    border-bottom: #000000 solid 1px;
}

a:visited {
    color: black;
}

.modify, .modify:before, .modify:after {
  font-size: 15px;
}

.current {
    border-bottom: #8AD5F0 solid 1px;
}


/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

